<h1>Hello, world!</h1>
<p>Welcome to the car license plate detection demonstration.</p>
<p>This projects is for educational purposes to get into licences plate detection and working with Entity Framework.</p>
<p>We utilize the following compontents:</p>
<ul>
  <li><a href="https://github.com/openalpr/openalpr">openalpr</a> for license plate recognition.</li>
  <li><a href="https://www.postgresql.org/">PostreSQL</a> as data storage.</li>
  <li><a href="https://www.pgadmin.org/">pgAdmin</a> to manage the data storage.</li>
  <li><a href="https://kafka.apache.org/">Apache Kafka</a> for fast event drivate message distribution.</li>
</ul>
PostgreSQL, pgAdmin and Kafka are running in a dockerized environment.
<p>ToDos:</p>
<ul>
  <li>Extend the documentation.</li>
  <li>Dockerize the web app.</li>
  <li>Dockerize the regognition service.</li>
</ul>
